/* Background images are 100x100 PNGs representing a checkerboard tile. Colours 
 * from <http://www.color-hex.com/color-palette/10221>. */

.background-pink {
    background-image: url("../img/pink.png");
    background-size: 50px;
}

.background-blue {
    background-image: url("../img/blue.png");
    background-size: 50px;
}

.background-orange {
    background-image: url("../img/orange.png");
    background-size: 50px;
}

.background-yellow {
    background-image: url("../img/yellow.png");
    background-size: 50px;
}

.background-light-yellow {
    background-image: url("../img/light-yellow.png");
    background-size: 50px;
}

