/* A row is as wide as its parent and contains multiple columns. Each column is 
 * of a defined width. Each column is an inline-block. Rows and columns can 
 * nest. */
.row {
    width: 100%;
    font-size: 0;
}

@mixin column {
    display: inline-block;
    vertical-align: middle;
}

.column-third {
    @include column;
    width: percentage(1 / 3);
}

.column-fifth {
    @include column;
    width: percentage(1 / 5);
}
