/* A row is as wide as its parent and contains multiple columns. Each column is 
 * of a defined width. Each column is an inline-block. Rows and columns can 
 * nest. */
.row {
    width: 100%;
    font-size: 0;
    text-align: center;
}

@mixin column {
    display: inline-block;
    vertical-align: middle;
}

/* We remove 2% from the width because IE6 doesn't compute widths properly. */
.column-third {
    @include column;
    width: 31.3333%;
}

.column-fifth {
    @include column;
    width: 18%;
}
