// Resets
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section {
    margin: 1rem;
}

.section h1 {
    width: 100%;
    text-align: center;
}

.row {
    width: 100%;
    font-size: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row .column-third {
    display: inline-block;
    width: 33.333%;
    vertical-align: middle;
}

.clear {
    clear: both;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.responsive {
    font-size: 1vw;
}

.center--horiz {
    margin: 0 auto;
}

$numFibLayouts: 10;
@for $n from 1 through $numFibLayouts {
    $size: ();
    $top: ();
    $left: ();
    $height: 0;
    $width: 1;

    $a: 0;
    $b: 1;
    @for $i from 1 through $n {
        @if $i % 4 == 1 {
            @if length($size) > 0 { @for $j from 1 through length($size) {
                $top: set-nth($top, $j, nth($top, $j) + $b);
            } }
            $top: append($top, 0);
            $left: append($left, 0);
            $height: $height + $b;
        } @else if $i % 4 == 2 {
            $top: append($top, 0);
            $left: append($left, $width);
            $width: $width + $b;
        } @else if $i % 4 == 3 {
            $top: append($top, $height);
            $left: append($left, 0);
            $height: $height + $b;
        } @else {
            @if length($top) > 0 { @for $j from 1 through length($size) {
                $left: set-nth($left, $j, nth($left, $j) + $b);
            } }
            $top: append($top, 0);
            $left: append($left, 0);
            $width: $width + $b;
        }
        $size: append($size, $b);
        $tmp: $a + $b;
        $a: $b;
        $b: $tmp;
    }

    .fibonacci-#{$n} {
        position: relative;
        width: #{$width}em;
        height: #{$height}em;
    }

    @for $i from 1 through $n {
        .fibonacci-#{$i}-#{$n} {
            position: absolute;
            width: percentage(nth($size, $i) / $width);
            height: percentage(nth($size, $i) / $height);
            top: percentage(nth($top, $i) / $height);
            left: percentage(nth($left, $i) / $width);
            border: 1px solid #000;
            overflow: hidden;
        }
    }
}
